@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Josefin+Sans:400,700|Julius+Sans+One');

/************* GENERAL **************/

body {   
  background-color: rgb(81, 97, 61);
  background-image: url(../img/white-diamond-dark.png);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Julius Sans One", Georgia,Times,'Times New Roman',serif;
}

h1:first-child, 
h2:first-child, 
h3:first-child, 
h4:first-child, 
h5:first-child, 
h6:first-child {
  margin-top:5px;
}

.tooltip-overflow { /* tool tip */
 /* white-space: nowrap;*/
 max-width: 100px;
}

form .text-danger, form .text-info {
  font-weight: bold;
  font-size: 1.5em;
}

label {
  font-weight:bold;
  font-size: .85em;
}

pre, code {
 white-space: initial;
}

ul {
  margin: 0;
  padding:0;
  padding-left: .75em;
  list-style-type: square;
}

strong {
  color: #5a3947;
}

b, strong {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-shadow:  rgba(52, 52, 48, .2) 1px 1px 1px;  
}

i, em {
  font-family: 'Open Sans', sans-serif;
  color: rgb(192, 190, 153);
  text-shadow:  rgba(52, 52, 48, .2) 1px 1px 1px;  
}

.text-primary, .text-info, .text-success, .text-warning, .text-danger {
  text-shadow:  rgba(52, 52, 48, .2) 1px 1px 1px;
}

.fa-color {
  color: rgba(0, 0, 0, .5);
}

thead tr th {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2em;
  font-weight:700;
}

/************* NAVBAR **************/

.navbar {
  border-radius: 0;
}

li.dropdown-header {
  font-weight: bold;
}

.navbar-brand,

#navbar ul.nav.navbar-nav li a{
  font-size: 1.5em;
  font-family: "Julius Sans One", Georgia,Times,'Times New Roman',serif;
}

#navbar ul.nav.navbar-nav li.dropdown ul.dropdown-menu li a,
#navbar ul.nav.navbar-nav.navbar-right li.dropdown ul.dropdown-menu li a{
  font-size: 16px;
  font-family:  'Josefin Sans', sans-serif;
  text-transform:none;
  color: rgb(52, 52, 48);
}

.navbar-brand {
  font-size: 2em;
}

.dropdown-header {
  color: rgb(120, 62, 86, 1);
  font-size: .95em;
}

@media only screen and (min-width : 768px) {
  /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/************* PANELS **************/

.panel-default .panel-heading .panel-title, .panel-default .panel-footer, .navbar, li.dropdown-header {
  color: rgb(62, 63, 58);
}

.panel, .well {
  background: url(../img/groovepaper.png),rgba(255, 255, 255, .9);
}

.panel .panel-heading .panel-title {
  font-size: 2em;
  padding: 5px;
}

.panel .panel-footer {
  font-size: 1.25em;
}

.panel-heading .panel-title, .panel .panel-footer {
  font-family: "Julius Sans One", Georgia,Times,'Times New Roman',serif;  
  text-transform: none;
}

/************* BACKGROUND **************/

#bg { /* for bg image */
  position: fixed;
  bottom: -8px;
  left: 0;
  width: 50%;
  height: auto;
  z-index: -5;
}

#bg img { /* for bg image */
  width: 100
  height: auto;
  max-width: 450px;
  box-sizing: border-box;
}

/************* FORM **************/
#rsvErrors {
  display: none;  
}

.alert { 
  border: 1px solid #fff;
}

input.form-control, 
select.form-control,
.form-control[disabled],
.chosen-container-single .chosen-single
{ 
  background: rgba(255, 255, 255, .8);
  font-size: 12px;
  height: 40px;
  line-height: 24px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  box-shadow: 0 0 3px #fff inset,0 1px 1px rgba(0,0,0,.1);
}

input[type='number'].form-control {
  padding: 5px;
  padding-left: 16px;
}

.input-group-addon {
  box-shadow: 0 0 3px #fff inset,0 1px 1px rgba(0,0,0,.1);  
}

textarea.form-control {
  background: rgba(255, 255, 255, .8);
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  box-shadow: 0 0 3px #fff inset,0 1px 1px rgba(0,0,0,.1);
}

form.form-horizontal .panel .panel-body h2 small {
  color: #3b252e;
  border-bottom: 1px solid #CCCCCC;

}

form.form-horizontal .panel .panel-body h2 {
  margin-top: 0px;
  padding-top:0px;
}


/************* CHOSEN **************/

.chosen-container-single .chosen-single span,
.chosen-container-single .chosen-single div b {
  padding-top: 3px;
  margin-top: 5px;
  padding-left: 8px;
}

.chosen-container-active .chosen-single,
.chosen-container-active.chosen-with-drop .chosen-single {
 border: 1px solid #CCCCCC;
}

.chosen-results li.active-result.highlighted{
  background: #F8F5F0;
  color: rgb(52, 52, 48);
}

.chosen-container-single .chosen-search input[type="text"]{
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.chosen-drop .chosen-results {
  max-height: 100px;
}

/************* PLACEHOLDERS **************/

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}

.form-control[disabled]::-moz-placeholder {
  color: rgba(192, 190, 153, .2);
  opacity: 1;
}
.form-control[disabled]:-ms-input-placeholder {
  color: rgba(192, 190, 153, .2);
}
.form-control[disabled]::-webkit-input-placeholder {
  color: rgba(192, 190, 153, .2);
}

/************* STALL **************/
#stall-edit {
  margin-top:10px;  
}

#stall-edit a.btn {
  font-weight:bold;
  text-transform: small-caps;
}

img.stall-pic {
 display: block;  
 margin: 0 auto;  
 box-sizing: border-box;
}

.stall-info li{
  margin:0.5rem;
  padding:0;
}

.stall-info li ul {
  margin-left: 2rem;
}

.stall-pills ul.nav.nav-pills li a {
  font-size: .95em;
  padding: 5px;
}

ul.race-records {
  list-style-position: outside;
  list-style-type: none;
}

ul.race-records li{
  font-size: 14px;
}

/************* Tooltips **************/

.tooltip-inner {
  text-transform: none;
  font-weight: normal;
}

/************* MODAL **************/
.modal {
  background:rgba(0,0,0, .3);
}

.modal .modal-dialog, .modal .modal-content {
 color: rgb(62, 63, 58);
}

.modal .panel {
  margin: 0;
  padding: 0;
}

.modal .modal-content {
  background: #eee;
}

